.btn-post:hover {
    cursor: pointer;
    opacity: 0.9;
}


.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.modal-container {
    background-color: #fff;
    width: 500px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 64px);
    border-radius: 5px;
}

.modal-header {
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 20px;
}

.close-icon {
    padding: 8px;
}


.image-item {
    position: relative;
}

.close-icon-image {
    position: absolute;
    font-size: 26px !important;
    color: #fff;
    padding: 4px;
}

.close-icon-image:hover {
    cursor: pointer;
    opacity: 0.7;
}


.close-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px 0px;
}

.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile p {
    margin-left: 8px;
}

.user img {
    width: 40px;
    height: 40px;
}


.show-likes:hover {
    cursor: pointer;
}





.upload-post {
    color: black; 
    background-color: rgba(255, 255, 255, 1); 
    padding: 8px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.upload-post h2 {
    font-size: 24px; 
    text-align: center;
}









.comments {
    margin-bottom: 8px;
    max-height: 250px; 
    overflow-y: auto;
}

.comment {
    margin-bottom: 8px;
}

.form-comment-post {
    margin-top: 8px;
}



.post-title {
    padding: 8px 32px;
    color:black; 
    font-weight: 400;
}




