{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>

<body>

    <div class="container m-auto">

        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"> Account Setting | <a href="/">Home</a>
        </h1>
        <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
            <li class="uk-active"><a href="#">General</a></li>
            <!-- <li><a href="#">Profile</a></li> -->
            <li><a href="#" style="pointer-events: None;">Privacy</a></li>
            <li><a href="#" style="pointer-events: None;">Notification</a></li>
            <li><a href="#" style="pointer-events: None;">Social links</a></li>
            <li><a href="#" style="pointer-events: None;">Billing</a></li>
            <li><a href="#" style="pointer-events: None;">Security</a></li>
        </ul>

        <div class="grid lg:grid-cols-3 mt-12 gap-8">
            <div>
                <h3 class="text-xl mb-2"> Personal </h3>
                <p></p>
            </div>
            <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                <form id="form-setting">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                        <!-- <div>
                            <label for=""> First name</label>
                            <input id="first_name" name="first_name" type="text" placeholder="" class="shadow-none bg-gray-100">
                        </div>
                        <div>
                            <label for=""> Last name</label>
                            <input  id="last_name" name="last_name"type="text" placeholder="" class="shadow-none bg-gray-100">
                        </div>
                        <div class="col-span-2">
                            <label for=""> Email</label>
                            <input id="email" name="email" type="text" placeholder="" class="shadow-none bg-gray-100">
                        </div> -->
                        <div class="col-span-2" style="display: flex;">
                            <div class="image-profile" style="width: 33%; display:flex; flex-direction:column">

                                <label for="about">Profile image</label>
                                <div id="showImg">
                                    <img src="{{profile.image_path}}" alt="" width="150" height="100">
                                </div>
                                <input type="file" name="profile_image" id="profile_image" accept="image/*" 
                                style="display: none;" onchange="selectImage(event)">
                                <button type="button" style="background-color: #be185d; color:white; padding: 4px; width: 150px;
                                    margin-top: 4px; border-radius: 4px;" onclick="document.getElementById('profile_image').click()">
                                    Upload image
                                </button>
                            </div>
                            <div style="width: 67%;">
                                <label for=""> Location</label>
                                <input type="text" id="location" name="location" placeholder="" style="width: 100%;"
                                    class="shadow-none bg-gray-100" value="{{profile.location}}">
                                    <div style="margin-top: 8px;">
                                        <label for=""> University</label>
                                        <input type="text" id="university" name="university" placeholder=""
                                            class="shadow-none bg-gray-100" value="{{profile.university}}">
                                    </div>
                                    <div style="margin-top: 8px;">
                                        <label for=""> Gender </label>
                                        <select id="gender" name="gender" class="shadow-none bg-gray-100" style="width: 25%; text-align: center;">
                                            {% if profile.gender == 'M' %}
                                                <option id="male" value="M" selected>Male</option>
                                            {% else %}
                                                <option id="male" value="M">Male</option>
                                            {% endif %}
                                            {% if profile.gender == 'F' %}
                                                <option id="female" value="F" selected>Female</option>
                                            {% else %}
                                                <option id="female" value="F">Female</option>
                                            {% endif %}
                                            {% if profile.gender == 'O' %}
                                                <option id="other" value="O" selected>Other</option>
                                            {% else %}
                                                <option id="other" value="O">Other</option>
                                            {% endif %}
            
            
                                        </select>
                                    </div>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <label for="about">About me</label>
                            <textarea id="about_me" id="about_me" name="about_me" rows="3"
                                class="shadow-none bg-gray-100">{{profile.about_me}}</textarea>
                        </div>
                        
                       
                    </div>
                    <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                        <a class="p-2 px-4 rounded bg-gray-50 text-red-500" href="/"> Back </a>
                        <button type="submit" class="button bg-blue-700"> Save </button>
                    </div>
                </form>


            </div>

            <!-- <div>
                        <h3 class="text-xl mb-2"> Privacy</h3>
                        <p> </p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-lg shadow lg:p-6 p-4 col-span-2">

                    <div class="space-y-3">
                        <div class="flex justify-between items-center">
                            <div>
                                <h4> Who can follow me ?</h4>
                                <div>  </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="flex justify-between items-center">
                            <div>
                                <h4> Show my activities ?</h4>
                                <div>  </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch"><input type="checkbox" checked><span class="switch-button"></span> </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="flex justify-between items-center">
                            <div>
                                <h4> Search engines?</h4>
                                <div>  </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="flex justify-between items-center">
                            <div>
                                <h4> Allow Commenting?</h4>
                                <div>  </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    </div>
                    <br> -->

        </div>

    </div>

    </div>

    </div>




    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>

    <script>
        function selectImage(event) {
            const file = event.target.files[0];
            const showImg = document.getElementById('showImg');
            showImg.innerHTML = `<img src="${URL.createObjectURL(file)}" alt="" width="150" height="100">`;
       
        }


        // Submit AJAX
        $(document).on('submit', '#form-setting', function (e) {
            e.preventDefault()

            var formData = new FormData();
            formData.append('profile_image', $('#profile_image')[0].files[0])
            formData.append('about_me', $('#about_me').val())
            formData.append('location', $('#location').val())
            formData.append('university', $('#university').val())
            formData.append('gender', $('#gender').val())
            formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val())

            $.ajax({
                type: 'post',
                url: '/setting/',
                processData: false,
                contentType: false,
                data: formData,
                success: function(res) {
                    console.log(res['redirect'])
                    window.location.assign(res['redirect'])
                },
                error: function(){
                    alert("ER")
                }
            })
        })
    </script>
</body>

</html>